In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
data=pd.read_csv("C:\\Users\\raghu\\Downloads\\lrmulti.csv")

In [5]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  765000

In [7]:
data["bedrooms"].median()

3.5

In [8]:
median=data["bedrooms"].median()
median

3.5

In [9]:
import math
median=math.floor(median)

In [10]:
medain

NameError: name 'medain' is not defined

In [11]:
median

3

In [15]:
data["bedrooms"]=data["bedrooms"].fillna(median)

In [16]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  765000

In [17]:
reg=linear_model.LinearRegression()
reg.fit(data[["area","bedrooms","age"]],data.price)

LinearRegression()

In [18]:
reg.predict([[3000,3,40]])

C:\Users\raghu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([442000.])