In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data1=pd.read_csv("C:\\Users\\raghu\\Downloads\\spam.csv",encoding_errors="ignore")

In [4]:
data1

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5569     spam  This is the 2nd time we have tried 2 contact u...
5570      ham                Will  b going to esplanade fr home?
5571      ham  Pity, * was in mood for that. So...any other s...
5572      ham  The guy did some bitching but I acted like i'd...
5573      ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [6]:
data1.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4827   4518                             Sorry, I'll call later
spam         747    640  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [8]:
data1["spam"]=data1["Category"].apply(lambda x:1 if x=="spam" else 0)

In [9]:
data1

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5569     spam  This is the 2nd time we have tried 2 contact u...     1
5570      ham                Will  b going to esplanade fr home?     0
5571      ham  Pity, * was in mood for that. So...any other s...     0
5572      ham  The guy did some bitching but I acted like i'd...     0
5573      ham                         Rofl. Its true to its name     0

[5574 rows x 3 columns]

In [11]:
x_train,x_test,y_train,y_test=train_test_split(data1["Message"],data1["spam"])

In [12]:
len(x_train)

4180

In [13]:
len(x_test)

1394

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)

In [44]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [45]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.9827833572453372

In [47]:
email=['hello man,how are you?','savings and discount']
email_count=v.transform(email)
model.predict(email_count)

array([0, 0], dtype=int64)

In [49]:
from sklearn.pipeline import Pipeline
clf=Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [52]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [53]:
clf.score(x_test,y_test)

0.9827833572453372